# Manipulation de donnÃ©es Python avec `pandas` : Partie 1
* * *
<div class="alert alert-success">  
    
### Objectifs d'apprentissage
### å­¦ä¹ ç›®æ ‡
    
* Se familiariser avec `pandas` et l'objet central `DataFrame`
* ç†Ÿæ‚‰ `pandas` å’Œæ ¸å¿ƒå¯¹è±¡ `DataFrame`
* Appliquer les techniques de base de manipulation de donnÃ©es dans `pandas`
* åº”ç”¨ `pandas` ä¸­çš„åŸºæœ¬æ•°æ®å¤„ç†æŠ€æœ¯
* Comprendre la flexibilitÃ© de la bibliothÃ¨que `pandas`
* ç†è§£ `pandas` åº“çš„çµæ´»æ€§
</div>

## Importation et visualisation des donnÃ©es
## æ•°æ®çš„å¯¼å…¥å’Œå¯è§†åŒ–
Nous allons travailler avec [des donnÃ©es sur le chÃ´mage europÃ©en provenant d'Eurostat](https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Unemployment_statistics). Il existe plusieurs fichiers `.csv` liÃ©s Ã  ce thÃ¨me avec lesquels nous travaillerons dans ce sujet, tous relatifs aux taux de chÃ´mage dans les pays europÃ©ens.

æˆ‘ä»¬å°†ä½¿ç”¨[æ¥è‡ª Eurostat çš„æ¬§æ´²å¤±ä¸šæ•°æ®](https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Unemployment_statistics)ã€‚åœ¨è¿™ä¸ªä¸»é¢˜ä¸­ï¼Œæˆ‘ä»¬å°†å¤„ç†å‡ ä¸ªä¸æ­¤ä¸»é¢˜ç›¸å…³çš„ `.csv` æ–‡ä»¶ï¼Œå®ƒä»¬éƒ½ä¸æ¬§æ´²å›½å®¶çš„å¤±ä¸šç‡æœ‰å…³ã€‚\n
CommenÃ§ons par importer `pandas` en utilisant l'abrÃ©viation conventionnelle `pd`.è®©æˆ‘ä»¬é¦–å…ˆä½¿ç”¨æƒ¯ç”¨çš„ç¼©å†™ `pd` å¯¼å…¥ `pandas`ã€‚

In [1]:
# Importer pandas avec l'alias `pd`
# ä½¿ç”¨åˆ«å `pd` å¯¼å…¥ pandas
import pandas as pd

# Nous importons souvent NumPy (numerical python) avec pandas
# æˆ‘ä»¬ç»å¸¸å°† NumPy (numerical python) ä¸ pandas ä¸€èµ·å¯¼å…¥
# nous l'importons avec l'alias `np`
# æˆ‘ä»¬ä½¿ç”¨åˆ«å `np` å¯¼å…¥å®ƒ
import numpy as np

`pandas` possÃ¨de une fonction `read_csv()` qui nous permet d'importer facilement des donnÃ©es tabulaires. La fonction retourne un objet `DataFrame`, qui est l'objet principal que `pandas` utilise pour reprÃ©senter les donnÃ©es tabulaires.

`pandas` æœ‰ä¸€ä¸ª `read_csv()` å‡½æ•°ï¼Œå…è®¸æˆ‘ä»¬è½»æ¾å¯¼å…¥è¡¨æ ¼æ•°æ®ã€‚è¯¥å‡½æ•°è¿”å›ä¸€ä¸ª `DataFrame` å¯¹è±¡ï¼Œè¿™æ˜¯ `pandas` ç”¨äºè¡¨ç¤ºè¡¨æ ¼æ•°æ®çš„ä¸»è¦å¯¹è±¡ã€‚\n
La fonction `pd.read_csv` peut Ãªtre paramÃ©trÃ©e pour s'adapter Ã  diffÃ©rents types de fichiers csv. Ici, nous sommes obligÃ© de spÃ©cifier le sÃ©parateur car pandas utilise la virgule par dÃ©faut.å¯ä»¥å¯¹ `pd.read_csv` å‡½æ•°è¿›è¡Œå‚æ•°è®¾ç½®ä»¥é€‚åº”ä¸åŒç±»å‹çš„ csv æ–‡ä»¶ã€‚åœ¨è¿™é‡Œï¼Œæˆ‘ä»¬è¦å¼ºåˆ¶æŒ‡å®šåˆ†éš”ç¬¦ï¼Œå› ä¸º pandas é»˜è®¤ä½¿ç”¨é€—å·ã€‚

In [4]:
unemployment = pd.read_csv('unemployment.csv',sep=",")

Vous avez crÃ©Ã© un `DataFrame` `pandas`. Nous pouvons examiner nos donnÃ©es en utilisant la mÃ©thode `.head()`. Par dÃ©faut, cela affiche l'en-tÃªte (noms des colonnes) et les **cinq** premiÃ¨res lignes.

æ‚¨å·²ç»åˆ›å»ºäº†ä¸€ä¸ª `pandas` `DataFrame`ã€‚æˆ‘ä»¬å¯ä»¥ä½¿ç”¨ `.head()` æ–¹æ³•æ£€æŸ¥æˆ‘ä»¬çš„æ•°æ®ã€‚é»˜è®¤æƒ…å†µä¸‹ï¼Œè¿™ä¼šæ˜¾ç¤ºæ ‡é¢˜ï¼ˆåˆ—åï¼‰å’Œ**å‰äº”**è¡Œã€‚\n
Si vous souhaitez voir un autre nombre de lignes, vous pouvez passer un entier Ã  .head() pour retourner ce nombre de lignes. Par exemple, unemployment.head(6) retournerait les six premiÃ¨res lignes.å¦‚æœæ‚¨æƒ³æŸ¥çœ‹ä¸åŒæ•°é‡çš„è¡Œï¼Œå¯ä»¥å°†ä¸€ä¸ªæ•´æ•°ä¼ é€’ç»™ .head() ä»¥è¿”å›è¯¥æ•°é‡çš„è¡Œã€‚ä¾‹å¦‚ï¼Œunemployment.head(6) å°†è¿”å›å‰å…­è¡Œã€‚

In [5]:
unemployment.head(6)

,country,seasonality,year_month,unemployment,unemployment_rate,date,year,month
0,at,sa,1993.01,144000,3.8,1/1/1993,1993,1
1,at,sa,1993.02,145000,3.8,2/1/1993,1993,2
2,at,sa,1993.03,147000,3.9,3/1/1993,1993,3
3,at,sa,1993.04,149000,3.9,4/1/1993,1993,4
4,at,sa,1993.05,151000,4.0,5/1/1993,1993,5
5,at,sa,1993.06,152000,4.0,6/1/1993,1993,6

Pour trouver le nombre de lignes, vous pouvez utiliser l'attribut `.shape`, qui retourne un tuple : `(nombre de lignes, nombre de colonnes)`
è¦æŸ¥æ‰¾è¡Œæ•°ï¼Œæ‚¨å¯ä»¥ä½¿ç”¨ `.shape` å±æ€§ï¼Œå®ƒè¿”å›ä¸€ä¸ªå…ƒç»„ï¼š`(è¡Œæ•°, åˆ—æ•°)`\n

In [ ]:
unemployment.shape

Pour connaÃ®tre les noms des colonnes, vous pouvez utiliser l'attribut `.columns`.è¦äº†è§£åˆ—åï¼Œæ‚¨å¯ä»¥ä½¿ç”¨ `.columns` å±æ€§ã€‚

In [ ]:
unemployment.columns

Pour connaÃ®tre les types de donnÃ©es, nous utilisons l'attribut `.dtypes`, qui nous indique quelles colonnes contiennent des donnÃ©es numÃ©riques (par ex. types `float64` ou `int64`) et lesquelles contiennent du texte (par ex. types `object`)è¦äº†è§£æ•°æ®ç±»å‹ï¼Œæˆ‘ä»¬ä½¿ç”¨ `.dtypes` å±æ€§ï¼Œå®ƒå‘Šè¯‰æˆ‘ä»¬å“ªäº›åˆ—åŒ…å«æ•°å€¼æ•°æ®ï¼ˆä¾‹å¦‚ `float64` æˆ– `int64` ç±»å‹ï¼‰ï¼Œå“ªäº›åˆ—åŒ…å«æ–‡æœ¬ï¼ˆä¾‹å¦‚ `object` ç±»å‹ï¼‰

In [8]:
unemployment.dtypes

country               object
seasonality           object
year_month           float64
unemployment           int64
unemployment_rate    float64
date                  object
year                   int64
month                  int64
dtype: object

## Fonction de statistiques de base
## åŸºæœ¬ç»Ÿè®¡å‡½æ•°

La  mÃ©thode `describe()` gÃ©nÃ¨re diverses statistiques dÃ©crivant le dataframe. C'est une mÃ©thode puissante qui retournera beaucoup d'informations, alors avant de l'exÃ©cuter, voyons exactement ce qu'elle fait.

`describe()` æ–¹æ³•ç”Ÿæˆæè¿° dataframe çš„å„ç§ç»Ÿè®¡ä¿¡æ¯ã€‚è¿™æ˜¯ä¸€ä¸ªå¼ºå¤§çš„æ–¹æ³•ï¼Œå®ƒå°†è¿”å›å¤§é‡ä¿¡æ¯ï¼Œæ‰€ä»¥åœ¨è¿è¡Œå®ƒä¹‹å‰ï¼Œè®©æˆ‘ä»¬çœ‹çœ‹å®ƒå…·ä½“æ˜¯åšä»€ä¹ˆçš„ã€‚\n
ğŸ’¡ **Astuce** : La [documentation `pandas`](http://pandas.pydata.org/pandas-docs/stable/) contient des informations exhaustives sur chaque fonction, objet, etc. dans `pandas`. Elle peut Ãªtre un peu difficile Ã  naviguer seule, il est donc typique d'interagir avec la documentation principalement via des recherches Google.

ğŸ’¡ **æç¤º**ï¼š[`pandas` æ–‡æ¡£](http://pandas.pydata.org/pandas-docs/stable/) åŒ…å«æœ‰å…³ `pandas` ä¸­æ¯ä¸ªå‡½æ•°ã€å¯¹è±¡ç­‰çš„è¯¦å°½ä¿¡æ¯ã€‚å•ç‹¬æµè§ˆå¯èƒ½æœ‰ç‚¹å›°éš¾ï¼Œå› æ­¤é€šå¸¸ä¸»è¦é€šè¿‡ Google æœç´¢ä¸æ–‡æ¡£äº¤äº’ã€‚\n
Voici un flux de travail gÃ©nÃ©ral pour en apprendre davantage sur une fonction dans `pandas` :
è¿™é‡Œæœ‰ä¸€ä¸ªé€šç”¨çš„å·¥ä½œæµç¨‹ï¼Œç”¨äºäº†è§£ `pandas` ä¸­çš„å‡½æ•°ï¼š\n1. Recherchez la fonction `pandas` sur Google, par ex. "pandas {insÃ©rer le nom de la fonction}"
1. åœ¨ Google ä¸Šæœç´¢ `pandas` å‡½æ•°ï¼Œä¾‹å¦‚ "pandas {æ’å…¥å‡½æ•°åç§°}"\n2. Trouvez un rÃ©sultat de pandas.pydata.org (la documentation pandas)
2. æ‰¾åˆ° pandas.pydata.orgï¼ˆpandas æ–‡æ¡£ï¼‰çš„ç»“æœ\n3. Lisez le rÃ©sumÃ© de ce que fait la fonction (en haut de la page), examinez ses arguments et ce qu'elle retourne.
3. é˜…è¯»å‡½æ•°åŠŸèƒ½çš„æ‘˜è¦ï¼ˆåœ¨é¡µé¢é¡¶éƒ¨ï¼‰ï¼Œæ£€æŸ¥å®ƒçš„å‚æ•°ä»¥åŠå®ƒçš„è¿”å›å€¼ã€‚\n
<span color="purple">ğŸ“ **Question :** Avant d'exÃ©cuter le code suivant, essayez d'utiliser le flux de travail gÃ©nÃ©ral dÃ©taillÃ© ci-dessus pour dÃ©couvrir ce que `.describe()` retourne. </span><span color="purple">ğŸ“ **é—®é¢˜**ï¼šåœ¨è¿è¡Œä»¥ä¸‹ä»£ç ä¹‹å‰ï¼Œå°è¯•ä½¿ç”¨ä¸Šé¢è¯¦ç»†ä»‹ç»çš„é€šç”¨å·¥ä½œæµç¨‹æ¥æ‰¾å‡º `.describe()` è¿”å›çš„å†…å®¹ã€‚</span>

In [9]:
unemployment.describe()

        year_month  unemployment  unemployment_rate         year        month
count  6438.000000  6.438000e+03        6116.000000  6438.000000  6438.000000
mean   1999.431230  8.173948e+05           8.165598  1999.369525     6.170550
std       7.466699  1.042835e+06           3.892202     7.466812     3.426694
min    1983.010000  2.000000e+03           1.300000  1983.000000     1.000000
25%    1994.090000  1.420000e+05           5.200000  1994.000000     3.000000
50%    2001.010000  3.155000e+05           7.600000  2001.000000     6.000000
75%    2006.010000  1.489500e+06           9.900000  2006.000000     9.000000
max    2010.120000  4.773000e+06          20.600000  2010.000000    12.000000

âš ï¸ **Avertissement** : `.describe()` se comportera diffÃ©remment selon les types de vos donnÃ©es, ou `dtypes`. Si votre `DataFrame` inclut Ã  la fois des `dtypes` numÃ©riques et object (par ex., chaÃ®nes), il rÃ©sumera par dÃ©faut **uniquement les donnÃ©es numÃ©riques** (comme montrÃ© ci-dessus). Si `.describe()` est appelÃ© sur un `DataFrame` qui contient uniquement des chaÃ®nes, il retournera le nombre, le nombre de valeurs uniques et la valeur la plus frÃ©quente avec son nombre.âš ï¸ **è­¦å‘Š**ï¼š`.describe()` çš„è¡Œä¸ºä¼šæœ‰æ‰€ä¸åŒï¼Œå…·ä½“å–å†³äºæ‚¨çš„æ•°æ®ç±»å‹æˆ– `dtypes`ã€‚å¦‚æœæ‚¨çš„ `DataFrame` åŒæ—¶åŒ…å«æ•°å€¼å’Œå¯¹è±¡ `dtypes`ï¼ˆä¾‹å¦‚ï¼Œå­—ç¬¦ä¸²ï¼‰ï¼Œå®ƒå°†é»˜è®¤**ä»…æ±‡æ€»æ•°å€¼æ•°æ®**ï¼ˆå¦‚ä¸Šæ‰€ç¤ºï¼‰ã€‚å¦‚æœå¯¹ä»…åŒ…å«å­—ç¬¦ä¸²çš„ `DataFrame` è°ƒç”¨ `.describe()`ï¼Œå®ƒå°†è¿”å›è®¡æ•°ã€å”¯ä¸€å€¼çš„æ•°é‡ä»¥åŠæœ€é¢‘ç¹å‡ºç°çš„å€¼åŠå…¶è®¡æ•°ã€‚

## ğŸ¥Š DÃ©fi 1
## ğŸ¥Š æŒ‘æˆ˜ 1
**Configuration**  
**é…ç½®**
Nous avons prÃ©cÃ©demment importÃ© des donnÃ©es sur le **chÃ´mage** dans `pandas` en utilisant la fonction `read_csv` et un chemin de fichier relatif. `read_csv` nous permet Ã©galement d'importer des donnÃ©es en utilisant une URL comme chemin de fichier.

æˆ‘ä»¬ä¹‹å‰å·²ç»ä½¿ç”¨ `read_csv` å‡½æ•°å’Œç›¸å¯¹æ–‡ä»¶è·¯å¾„å°†**å¤±ä¸š**æ•°æ®å¯¼å…¥åˆ° `pandas` ä¸­ã€‚`read_csv` è¿˜å…è®¸æˆ‘ä»¬ä½¿ç”¨ URL ä½œä¸ºæ–‡ä»¶è·¯å¾„æ¥å¯¼å…¥æ•°æ®ã€‚\n
Un fichier .csv avec des donnÃ©es sur les pays du monde et leurs abrÃ©viations se trouve Ã  l'URL suivante :

ä¸€ä¸ªåŒ…å«ä¸–ç•Œå„å›½åŠå…¶ç¼©å†™æ•°æ®çš„ .csv æ–‡ä»¶ä½äºä»¥ä¸‹ URLï¼š\n
[https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv](https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv)

Nous pouvons charger ces donnÃ©es directement comme suit :æˆ‘ä»¬å¯ä»¥ç›´æ¥åŠ è½½è¿™äº›æ•°æ®ï¼Œå¦‚ä¸‹æ‰€ç¤ºï¼š

In [10]:
countries_url = 'https://raw.githubusercontent.com/dlab-berkeley/Python-Data-Wrangling/main/data/countries.csv'
countries = pd.read_csv(countries_url)

In [ ]:
countries.head()

**DÃ©fi**  
**æŒ‘æˆ˜**
Chaque fois que nous ouvrons un nouveau DataFrame, il est important d'obtenir une comprÃ©hension de base de sa structure.

æ¯æ¬¡æˆ‘ä»¬æ‰“å¼€ä¸€ä¸ªæ–°çš„ DataFrame æ—¶ï¼Œäº†è§£å…¶åŸºæœ¬ç»“æ„éƒ½å¾ˆé‡è¦ã€‚\n
En utilisant les mÃ©thodes et attributs que nous venons de discuter, **rÃ©pondez aux questions suivantes** sur `countries` :

ä½¿ç”¨æˆ‘ä»¬åˆšåˆšè®¨è®ºçš„æ–¹æ³•å’Œå±æ€§ï¼Œ**å›ç­”å…³äº `countries` çš„ä»¥ä¸‹é—®é¢˜**ï¼š\n
1. Quelles colonnes contient `countries` ?
1. `countries` åŒ…å«å“ªäº›åˆ—ï¼Ÿ\n2. Combien de lignes et de colonnes contient-il ?
2. å®ƒåŒ…å«å¤šå°‘è¡Œå’Œå¤šå°‘åˆ—ï¼Ÿ\n3. Quelles sont les valeurs minimale et maximale des colonnes avec des donnÃ©es numÃ©riques ?
3. å…·æœ‰æ•°å€¼æ•°æ®çš„åˆ—çš„æœ€å°å€¼å’Œæœ€å¤§å€¼æ˜¯å¤šå°‘ï¼Ÿ\n
<details><summary><a>Cliquez pour un indice</a></summary>
<details><summary><a>ç‚¹å‡»æŸ¥çœ‹æç¤º</a></summary>
Indice : envisagez d'utiliser <code>.columns</code>, <code>.shape</code> et <code>.describe()</code> ici.
æç¤ºï¼šåœ¨è¿™é‡Œè€ƒè™‘ä½¿ç”¨ <code>.columns</code>, <code>.shape</code> å’Œ <code>.describe()</code>ã€‚
</details>

In [ ]:
# VOTRE CODE ICI

In [ ]:
# VOTRE CODE ICI

In [ ]:
# VOTRE CODE ICI

<a id='indexing'></a>
## Indexation des donnÃ©es
## æ•°æ®ç´¢å¼•
La manipulation de donnÃ©es dans un DataFrame nÃ©cessite souvent d'extraire des lignes et/ou colonnes spÃ©cifiques. C'est ce qu'on appelle l'**indexation**. Nous avons dÃ©jÃ  appris une maniÃ¨re simple d'indexer nos donnÃ©es en utilisant `.head()`, qui isolait les cinq premiÃ¨res lignes de nos donnÃ©es. Maintenant, nous allons apprendre des mÃ©thodes plus flexibles et puissantes pour l'indexation.åœ¨ DataFrame ä¸­å¤„ç†æ•°æ®é€šå¸¸éœ€è¦æå–ç‰¹å®šçš„è¡Œå’Œ/æˆ–åˆ—ã€‚è¿™å°±æ˜¯æ‰€è°“çš„**ç´¢å¼•**ã€‚æˆ‘ä»¬å·²ç»å­¦ä¹ äº†ä¸€ç§ç®€å•çš„ç´¢å¼•æ•°æ®çš„æ–¹æ³•ï¼Œå³ä½¿ç”¨ `.head()`ï¼Œå®ƒéš”ç¦»äº†æ•°æ®çš„å‰äº”è¡Œã€‚ç°åœ¨ï¼Œæˆ‘ä»¬å°†å­¦ä¹ æ›´çµæ´»ã€æ›´å¼ºå¤§çš„ç´¢å¼•æ–¹æ³•ã€‚


L'indexation fonctionne de maniÃ¨re trÃ¨s similaire dans `pandas` comme en Python standard, mais avec quelques diffÃ©rences clÃ©s. Dans `pandas`, l'indexation repose sur le rÃ©fÃ©rencement des lignes d'un DataFrame puis de ses colonnes <span>&#8594;</span> `[lignes, colonnes]`.ç´¢å¼•åœ¨ `pandas` ä¸­çš„å·¥ä½œæ–¹å¼ä¸æ ‡å‡† Python éå¸¸ç›¸ä¼¼ï¼Œä½†æœ‰ä¸€äº›å…³é”®åŒºåˆ«ã€‚åœ¨ `pandas` ä¸­ï¼Œç´¢å¼•ä¾èµ–äºå¼•ç”¨ DataFrame çš„è¡Œï¼Œç„¶åæ˜¯åˆ— <span>&#8594;</span> `[è¡Œ, åˆ—]`ã€‚

In [ ]:
# VOTRE CODE ICI
countries.loc[3, 'google_country_code']

## `.loc` et `iloc`
## `.loc` å’Œ `iloc`

Nous avons 2 faÃ§ons d'indexer sur un dataframe : par indices (avec `iloc`) par index ou Ã©tiquettes (avec `loc`).
æˆ‘ä»¬æœ‰ 2 ç§ç´¢å¼• dataframe çš„æ–¹å¼ï¼šé€šè¿‡ä¸‹æ ‡ï¼ˆä½¿ç”¨ `iloc`ï¼‰æˆ–é€šè¿‡ç´¢å¼•æˆ–æ ‡ç­¾ï¼ˆä½¿ç”¨ `loc`ï¼‰ã€‚\n

In [13]:
countries.loc[:4, :]

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,Ã–sterreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682

Le code `countries.loc[:4, :]` exÃ©cute ce qui suit :  
ä»£ç  `countries.loc[:4, :]` æ‰§è¡Œä»¥ä¸‹æ“ä½œï¼š
- <code>countries.loc[<mark style="background: yellow">**:4**</mark>, :]</code> <span>&#8594;</span> SÃ©lectionne les lignes jusqu'Ã  l'index 4
- <code>countries.loc[<mark style="background: yellow">**:4**</mark>, :]</code> <span>&#8594;</span> é€‰æ‹©ç›´åˆ°ç´¢å¼• 4 çš„è¡Œ
- <code>countries.loc[:4,<mark style="background: yellow"> **:**</mark>]</code> <span>&#8594;</span>
 SÃ©lectionne toutes les colonnes
- <code>countries.loc[:4,<mark style="background: yellow"> **:**</mark>]</code> <span>&#8594;</span> é€‰æ‹©æ‰€æœ‰åˆ—

Ce format nous permet de sÃ©lectionner de maniÃ¨re flexible des plages de lignes et de colonnes en mÃªme temps. ConsidÃ©rez cet exemple plus complexe :è¿™ç§æ ¼å¼å…è®¸æˆ‘ä»¬åŒæ—¶çµæ´»åœ°é€‰æ‹©è¡Œå’Œåˆ—çš„èŒƒå›´ã€‚è€ƒè™‘è¿™ä¸ªæ›´å¤æ‚çš„ä¾‹å­ï¼š

In [14]:
countries.loc[2:4, 'name_en':'name_de']

    name_en   name_fr    name_de
2  Bulgaria  Bulgarie  Bulgarien
3   Croatia   Croatie   Kroatien
4    Cyprus    Chypre     Zypern

Ce code a exÃ©cutÃ© ce qui suit :  
æ­¤ä»£ç æ‰§è¡Œäº†ä»¥ä¸‹æ“ä½œï¼š
- <code>countries.loc[<mark style="background: yellow">**2:4**</mark>, 'name_en':'name_de']</code> -> SÃ©lectionne les lignes de l'Ã©tiquette 2 jusqu'Ã  l'Ã©tiquette 4
- <code>countries.loc[<mark style="background: yellow">**2:4**</mark>, 'name_en':'name_de']</code> -> é€‰æ‹©ä»æ ‡ç­¾ 2 åˆ°æ ‡ç­¾ 4 çš„è¡Œ
- <code>countries.loc[2:4, <mark style="background: yellow">**'name_en'::'name_de'**</mark>]</code> -> SÃ©lectionne les colonnes, de la colonne `name_en` Ã  la colonne `name_de`
- <code>countries.loc[2:4, <mark style="background: yellow">**'name_en'::'name_de'**</mark>]</code> -> é€‰æ‹©åˆ—ï¼Œä» `name_en` åˆ—åˆ° `name_de` åˆ—\n

## ğŸ¥Š DÃ©fi 2 : Indexation avec `.loc`
## ğŸ¥Š æŒ‘æˆ˜ 2ï¼šä½¿ç”¨ `.loc` è¿›è¡Œç´¢å¼•

Pratiquons un peu avec l'opÃ©rateur `.loc`.  
è®©æˆ‘ä»¬ç»ƒä¹ ä¸€ä¸‹ `.loc` è¿ç®—ç¬¦ã€‚\n
<span style="color:purple">SÃ©lectionnez les lignes 10 Ã  20, puis calculez leur `latitude` moyenne </span>
<span style="color:purple">é€‰æ‹©ç¬¬ 10 åˆ° 20 è¡Œï¼Œç„¶åè®¡ç®—å®ƒä»¬çš„å¹³å‡ `latitude`</span>\n<details>
    <summary><a>Cliquez pour un indice</a></summary>
    <summary><a>ç‚¹å‡»æŸ¥çœ‹æç¤º</a></summary>
    Cela peut Ãªtre fait en utilisant <code>`.loc`</code> et <code>`.mean()`</code>, tout en une seule ligne de code : <code>countries.loc[{votre sÃ©lection de lignes}, {votre sÃ©lection de colonnes}].mean()</code>
    è¿™å¯ä»¥ä½¿ç”¨ <code>`.loc`</code> å’Œ <code>`.mean()`</code> å®Œæˆï¼Œå…¨éƒ¨åœ¨ä¸€è¡Œä»£ç ä¸­ï¼š<code>countries.loc[{æ‚¨çš„è¡Œé€‰æ‹©}, {æ‚¨çš„åˆ—é€‰æ‹©}].mean()</code>
</details>

In [ ]:
# VOTRE CODE ICI

<a id='boolean'></a>
## Indexation boolÃ©enne
## å¸ƒå°”ç´¢å¼•
Maintenant que nous avons revu les bases de l'indexation, passons Ã  une extension extrÃªmement puissante -- "**l'indexation boolÃ©enne**." L'indexation boolÃ©enne fait rÃ©fÃ©rence au filtrage des donnÃ©es basÃ© sur un test logique. Tout d'abord, rappelez-vous comment fonctionnent les boolÃ©ens et les tests logiques en Python standard :ç°åœ¨æˆ‘ä»¬å·²ç»å›é¡¾äº†ç´¢å¼•çš„åŸºç¡€çŸ¥è¯†ï¼Œè®©æˆ‘ä»¬ç»§ç»­é€šè¿‡æå…¶å¼ºå¤§çš„æ‰©å±•â€”â€”â€œ**å¸ƒå°”ç´¢å¼•**â€ã€‚å¸ƒå°”ç´¢å¼•æ˜¯æŒ‡åŸºäºé€»è¾‘æµ‹è¯•è¿‡æ»¤æ•°æ®ã€‚é¦–å…ˆï¼Œå›é¡¾ä¸€ä¸‹å¸ƒå°”å€¼å’Œé€»è¾‘æµ‹è¯•åœ¨æ ‡å‡† Python ä¸­æ˜¯å¦‚ä½•å·¥ä½œçš„ï¼š

In [15]:
"D-Lab" == "D-Lab"

True

In [ ]:
"D-Lab" == "H-Lab"

False

In [ ]:
7 > 7

False

Nous utiliserons ce mÃªme style de test logique dans `pandas` pour exÃ©cuter l'indexation boolÃ©enne.   
æˆ‘ä»¬å°†åœ¨ `pandas` ä¸­ä½¿ç”¨è¿™ç§ç›¸åŒé£æ ¼çš„é€»è¾‘æµ‹è¯•æ¥æ‰§è¡Œå¸ƒå°”ç´¢å¼•ã€‚\n
## Exemple : trouver les pays hors de l'UE
## ç¤ºä¾‹ï¼šæŸ¥æ‰¾æ¬§ç›Ÿä»¥å¤–çš„å›½å®¶
Remarquez dans le dataframe `countries` illustrÃ© ci-dessous que nous avons une colonne, `country_group`, qui nous indique si un pays est dans l'Union europÃ©enne (UE) ou non. Nous allons faire un exemple d'indexation boolÃ©enne sur ces cinq premiÃ¨res lignes.
è¯·æ³¨æ„ï¼Œåœ¨ä¸‹é¢æ˜¾ç¤ºçš„ `countries` dataframe ä¸­ï¼Œæˆ‘ä»¬æœ‰ä¸€åˆ— `country_group`ï¼Œå®ƒå‘Šè¯‰æˆ‘ä»¬ä¸€ä¸ªå›½å®¶æ˜¯å¦åœ¨æ¬§ç›Ÿ (EU) å†…ã€‚æˆ‘ä»¬å°†å¯¹å‰äº”è¡Œè¿›è¡Œå¸ƒå°”ç´¢å¼•ç¤ºä¾‹ã€‚\n

*Note : La Croatie fait partie de l'UE depuis 2013. Les donnÃ©es ne sont pas toujours correctes !**æ³¨æ„ï¼šå…‹ç½—åœ°äºšè‡ª 2013 å¹´èµ·æˆä¸ºæ¬§ç›Ÿæˆå‘˜å›½ã€‚æ•°æ®å¹¶ä¸æ€»æ˜¯æ­£ç¡®çš„ï¼*

In [16]:
# CrÃ©e un dataframe de test plus petit
# åˆ›å»ºä¸€ä¸ªè¾ƒå°çš„æµ‹è¯• dataframe
# pour montrer comment fonctionne l'indexation boolÃ©enne
# ä»¥æ¼”ç¤ºå¸ƒå°”ç´¢å¼•çš„å·¥ä½œåŸç†
test = countries.loc[20:25, :]

In [17]:
test

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
20,no,NO,non-eu,Norway,NorvÃ¨ge,Norwegen,64.556460,12.665766
21,pl,PL,eu,Poland,Pologne,Polen,51.918907,19.134334
22,pt,PT,eu,Portugal,Portugal,Portugal,39.558069,-7.844941
23,ro,RO,eu,Romania,Roumanie,RumÃ¤nien,45.942611,24.990152
24,sk,SK,eu,Slovakia,Slovaquie,Slowakei,48.672644,19.700032
25,si,SI,eu,Slovenia,SlovÃ©nie,Slowenien,46.149259,14.986617

Utilisons cette colonne pour filtrer nos donnÃ©es uniquement aux pays hors de l'Union europÃ©enne. Les Ã©tapes sont les suivantes :
1. SÃ©lectionner la colonne que nous utiliserons comme filtre : `test['country_group']` ou `test.loc[:, 'country_group']`

In [18]:
test['country_group']

20    non-eu
21        eu
22        eu
23        eu
24        eu
25        eu
Name: country_group, dtype: object

2. DÃ©terminer quelles lignes dans cette colonne sont Ã©gales Ã  "non-eu" -- ce qui indique que le pays est hors de l'Union europÃ©enne : `test['country_group'] == 'non-eu'`. La sortie de ce code est ce qu'on appelle un **masque boolÃ©en**.

In [19]:
test['country_group'] == 'non-eu'

20     True
21    False
22    False
23    False
24    False
25    False
Name: country_group, dtype: bool

3. Utiliser le masque boolÃ©en pour indexer uniquement les lignes qui ont satisfait le test : `test[test['country_group'] == 'non-eu']`

In [20]:
test[test['country_group'] == 'non-eu']

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
20,no,NO,non-eu,Norway,NorvÃ¨ge,Norwegen,64.55646,12.665766

Et voilÃ  l'indexation boolÃ©enne ! Nous avons utilisÃ© un test d'Ã©galitÃ© (`countries['country_group'] == 'non-eu'`), mais nous pouvons utiliser une variÃ©tÃ© de tests et de conditions diffÃ©rents pour indexer nos donnÃ©es.
å¸ƒå°”ç´¢å¼•å°±æ˜¯è¿™æ ·ï¼æˆ‘ä»¬ä½¿ç”¨äº†ä¸€ä¸ªç›¸ç­‰æ€§æµ‹è¯• (`countries['country_group'] == 'non-eu'`)ï¼Œä½†æˆ‘ä»¬å¯ä»¥ä½¿ç”¨å„ç§ä¸åŒçš„æµ‹è¯•å’Œæ¡ä»¶æ¥ç´¢å¼•æˆ‘ä»¬çš„æ•°æ®ã€‚\n
Par exemple, nous pourrions vouloir trouver les pays avec une longitude supÃ©rieure Ã  un certain seuil, comme 25 (notez que nous allons revenir Ã  l'utilisation du DataFrame complet `countries` maintenant) :ä¾‹å¦‚ï¼Œæˆ‘ä»¬å¯èƒ½æƒ³æ‰¾åˆ°ç»åº¦å¤§äºç‰¹å®šé˜ˆå€¼ï¼ˆå¦‚ 25ï¼‰çš„å›½å®¶ï¼ˆè¯·æ³¨æ„ï¼Œæˆ‘ä»¬ç°åœ¨å°†é‡æ–°ä½¿ç”¨å®Œæ•´çš„ `countries` DataFrameï¼‰ï¼š

In [21]:
countries[countries['longitude'] > 25]

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682
7,ee,EE,eu,Estonia,Estonie,Estland,58.592469,25.806950
8,fi,FI,eu,Finland,Finlande,Finnland,64.950159,26.067564
28,tr,TR,non-eu,Turkey,Turquie,TÃ¼rkei,38.952942,35.439795

## ğŸ¥Š DÃ©fi 3 : Indexation boolÃ©enne
## ğŸ¥Š æŒ‘æˆ˜ 3ï¼šå¸ƒå°”ç´¢å¼•

Allons un peu plus loin en indexation boolÃ©enne avec un problÃ¨me.
è®©æˆ‘ä»¬é€šè¿‡ä¸€ä¸ªé—®é¢˜è¿›ä¸€æ­¥æ¢è®¨å¸ƒå°”ç´¢å¼•ã€‚\n1. Trouvez la longitude moyenne des pays dans nos donnÃ©es, assignez-la Ã  la variable `average_long`
1. æŸ¥æ‰¾æ•°æ®ä¸­å›½å®¶çš„å¹³å‡ç»åº¦ï¼Œå¹¶å°†å…¶åˆ†é…ç»™å˜é‡ `average_long`\n2. Trouvez les pays qui ont une longitude "supÃ©rieure Ã  la moyenne"
2. æŸ¥æ‰¾ç»åº¦â€œé«˜äºå¹³å‡æ°´å¹³â€çš„å›½å®¶\n<details>
    <summary><a>Cliquez pour un indice</a></summary>
    <summary><a>ç‚¹å‡»æŸ¥çœ‹æç¤º</a></summary>
    Calculez la longitude moyenne des donnÃ©es : <code>countries['longitude'].mean()</code> et sauvegardez-la dans une variable <code>average_long</code>. Ensuite, vous pouvez utiliser cette variable pour crÃ©er un masque boolÃ©en pour l'indexation : <code>countries['longitude'] > average_long</code>
    æç¤ºï¼šè®¡ç®—æ•°æ®çš„å¹³å‡ç»åº¦ï¼š<code>countries['longitude'].mean()</code> å¹¶å°†å…¶ä¿å­˜åœ¨å˜é‡ <code>average_long</code> ä¸­ã€‚ç„¶åï¼Œæ‚¨å¯ä»¥ä½¿ç”¨æ­¤å˜é‡åˆ›å»ºç”¨äºç´¢å¼•çš„å¸ƒå°”æ©ç ï¼š<code>countries['longitude'] > average_long</code>
</details>

In [ ]:
# VOTRE CODE ICI

In [ ]:
# VOTRE CODE ICI

## Indexation boolÃ©enne avec conditions multiples
## å¤šé‡æ¡ä»¶å¸ƒå°”ç´¢å¼•
Nous pouvons faire une indexation boolÃ©enne en utilisant autant de tests logiques que nous le souhaitons en enveloppant chaque test dans des parenthÃ¨ses (`()`) et en utilisant l'opÃ©rateur ET (`&`) ou l'opÃ©rateur OU (`|`)æˆ‘ä»¬å¯ä»¥ä½¿ç”¨ä»»æ„æ•°é‡çš„é€»è¾‘æµ‹è¯•è¿›è¡Œå¸ƒå°”ç´¢å¼•ï¼Œæ–¹æ³•æ˜¯å°†æ¯ä¸ªæµ‹è¯•æ‹¬åœ¨æ‹¬å· (`()`) ä¸­ï¼Œå¹¶ä½¿ç”¨ AND è¿ç®—ç¬¦ (`&`) æˆ– OR è¿ç®—ç¬¦ (`|`)

In [ ]:
# SÃ©lectionne les pays avec une longitude supÃ©rieure Ã  25 mais infÃ©rieure Ã  30
# é€‰æ‹©ç»åº¦å¤§äº 25 ä½†å°äº 30 çš„å›½å®¶
countries[(countries['longitude'] > 25) & (countries['longitude'] < 30)]

In [ ]:
# SÃ©lectionne les pays avec une longitude supÃ©rieure Ã  30 ou infÃ©rieure Ã  0
# é€‰æ‹©ç»åº¦å¤§äº 30 æˆ–å°äº 0 çš„å›½å®¶
countries[(countries['longitude'] > 30) | (countries['longitude'] < 0)]

# Manipulation de donnÃ©es Python avec `pandas` : Partie 2
# ä½¿ç”¨ `pandas` è¿›è¡Œ Python æ•°æ®å¤„ç†ï¼šç¬¬ 2 éƒ¨åˆ†
* * *

L'attribut date est de type `object`. Pour pouvoir le manipuler pour des opÃ©rations de transformation, nous devons le convertir en type `datetime`.date å±æ€§æ˜¯ `object` ç±»å‹ã€‚ä¸ºäº†èƒ½å¤Ÿå¯¹å…¶è¿›è¡Œè½¬æ¢æ“ä½œï¼Œæˆ‘ä»¬éœ€è¦å°†å…¶è½¬æ¢ä¸º `datetime` ç±»å‹ã€‚

In [22]:
unemployment.dtypes

country               object
seasonality           object
year_month           float64
unemployment           int64
unemployment_rate    float64
date                  object
year                   int64
month                  int64
dtype: object

In [23]:
unemployment['date'] = pd.to_datetime(unemployment['date'])

<a id='missing'></a>
## Valeurs manquantes
## ç¼ºå¤±å€¼

Une des premiÃ¨res Ã©tapes du nettoyage des donnÃ©es est d'identifier et de traiter les donnÃ©es manquantes.
æ•°æ®æ¸…æ´—çš„ç¬¬ä¸€æ­¥æ˜¯è¯†åˆ«å’Œå¤„ç†ç¼ºå¤±æ•°æ®ã€‚\n`pandas` fournit diverses mÃ©thodes pour explorer et traiter les "donnÃ©es manquantes", dont l'une est `.isna()``pandas` æä¾›äº†å¤šç§æ–¹æ³•æ¥æ¢ç´¢å’Œå¤„ç†â€œç¼ºå¤±æ•°æ®â€ï¼Œå…¶ä¸­ä¹‹ä¸€æ˜¯ `.isna()`

In [24]:
unemployment.isna()

,country,seasonality,year_month,unemployment,unemployment_rate,date,year,month
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
6433,False,False,False,False,False,False,False,False
6434,False,False,False,False,False,False,False,False
6435,False,False,False,False,False,False,False,False
6436,False,False,False,False,False,False,False,False
6437,False,False,False,False,False,False,False,False

La mÃ©thode `.isna()` retourne une valeur boolÃ©enne correspondante pour chaque entrÃ©e dans le DataFrame `unemployment`. En Python, `True` est Ã©quivalent Ã  1 et `False` est Ã©quivalent Ã  0. Ainsi, lorsque nous additionnons les rÃ©sultats par colonne (avec `.sum()`), nous obtenons un dÃ©compte du nombre **total** de valeurs manquantes par colonne :`.isna()` æ–¹æ³•ä¸º `unemployment` DataFrame ä¸­çš„æ¯ä¸ªæ¡ç›®è¿”å›ä¸€ä¸ªå¯¹åº”çš„å¸ƒå°”å€¼ã€‚åœ¨ Python ä¸­ï¼Œ`True` ç­‰åŒäº 1ï¼Œ`False` ç­‰åŒäº 0ã€‚å› æ­¤ï¼Œå½“æˆ‘ä»¬æŒ‰åˆ—å¯¹ç»“æœæ±‚å’Œï¼ˆä½¿ç”¨ `.sum()`ï¼‰æ—¶ï¼Œæˆ‘ä»¬å¾—åˆ°æ¯åˆ—ç¼ºå¤±å€¼çš„**æ€»æ•°**ï¼š

In [25]:
unemployment.isna().sum()

country                0
seasonality            0
year_month             0
unemployment           0
unemployment_rate    322
date                   0
year                   0
month                  0
dtype: int64

C'est une astuce trÃ¨s utile, et elle nous montre que la seule colonne avec des valeurs manquantes est `unemployment_rate`.
è¿™æ˜¯ä¸€ä¸ªéå¸¸æœ‰ç”¨çš„æŠ€å·§ï¼Œå®ƒå‘Šè¯‰æˆ‘ä»¬å”¯ä¸€æœ‰ç¼ºå¤±å€¼çš„åˆ—æ˜¯ `unemployment_rate`ã€‚\n
Il existe une grande variÃ©tÃ© d'approches pour traiter les donnÃ©es manquantes. Une approche de base serait de **supprimer toute ligne avec un enregistrement de taux de chÃ´mage manquant** :å¤„ç†ç¼ºå¤±æ•°æ®çš„æ–¹æ³•å¤šç§å¤šæ ·ã€‚ä¸€ç§åŸºæœ¬æ–¹æ³•æ˜¯**åˆ é™¤ä»»ä½•ç¼ºå¤±å¤±ä¸šç‡è®°å½•çš„è¡Œ**ï¼š

In [ ]:
unemployment.dropna(subset=['unemployment_rate'])

L'exÃ©cution simple de la mÃ©thode `.dropna()` ne modifie pas rÃ©ellement nos donnÃ©es -- elle fait une copie puis supprime les lignes manquantes pour cette copie. Afin de sauvegarder notre modification, nous devrons redÃ©finir le DataFrame `unemployment` avec notre copie modifiÃ©e :ç®€å•åœ°æ‰§è¡Œ `.dropna()` æ–¹æ³•å®é™…ä¸Šå¹¶ä¸ä¼šä¿®æ”¹è¿™æˆ‘ä»¬çš„æ•°æ®â€”â€”å®ƒä¼šåˆ›å»ºä¸€ä¸ªå‰¯æœ¬ï¼Œç„¶ååˆ é™¤è¯¥å‰¯æœ¬çš„ç¼ºå¤±è¡Œã€‚ä¸ºäº†ä¿å­˜æˆ‘ä»¬çš„ä¿®æ”¹ï¼Œæˆ‘ä»¬éœ€è¦ç”¨ä¿®æ”¹åçš„å‰¯æœ¬é‡æ–°å®šä¹‰ `unemployment` DataFrameï¼š

In [ ]:
unemployment = unemployment.dropna(subset=['unemployment_rate'])

**ğŸ’¡ Astuce :** Notez que les crochets `[]` sont nÃ©cessaires dans la mÃ©thode `dropna()` car le paramÃ¨tre subset attend une liste de noms de colonnes. MÃªme si vous ne spÃ©cifiez qu'une seule colonne, elle doit quand mÃªme Ãªtre entourÃ©e de crochets pour indiquer qu'il s'agit d'une liste.**ğŸ’¡ æç¤ºï¼š** è¯·æ³¨æ„ï¼Œ`dropna()` æ–¹æ³•ä¸­éœ€è¦æ–¹æ‹¬å· `[]`ï¼Œå› ä¸º subset å‚æ•°éœ€è¦ä¸€ä¸ªåˆ—ååˆ—è¡¨ã€‚å³ä½¿æ‚¨åªæŒ‡å®šä¸€åˆ—ï¼Œå®ƒä»ç„¶å¿…é¡»â€‹â€‹æ‹¬åœ¨æ–¹æ‹¬å·ä¸­ä»¥è¡¨æ˜å®ƒæ˜¯ä¸€ä¸ªåˆ—è¡¨ã€‚

<a id='sorting'></a>
## Tri des valeurs
## å€¼æ’åº

Nous avons travaillÃ© avec des donnÃ©es sur les taux de chÃ´mage, il serait donc probablement utile de savoir quels sont les taux de chÃ´mage les plus Ã©levÃ©s dans ces donnÃ©es. Pour cela, nous utiliserons la mÃ©thode `sort_values()` pour trier les donnÃ©es. Nous enchaÃ®nons `.head()` Ã  la fin pour ne voir que les cinq premiÃ¨res lignes :æˆ‘ä»¬ä¸€ç›´åœ¨å¤„ç†å¤±ä¸šç‡æ•°æ®ï¼Œå› æ­¤äº†è§£è¿™äº›æ•°æ®ä¸­å¤±ä¸šç‡æœ€é«˜çš„æ˜¯å“ªäº›å¯èƒ½å¾ˆæœ‰ç”¨ã€‚ä¸ºæ­¤ï¼Œæˆ‘ä»¬å°†ä½¿ç”¨ `sort_values()` æ–¹æ³•å¯¹æ•°æ®è¿›è¡Œæ’åºã€‚æˆ‘ä»¬åœ¨æœ«å°¾é“¾æ¥ `.head()` ä»¥ä»…æŸ¥çœ‹å‰äº”è¡Œï¼š

In [ ]:
unemployment.sort_values(by='date', ascending=False).head()

Le code ci-dessus crÃ©e une copie du `DataFrame`, triÃ©e en ordre **dÃ©croissant** (notez `ascending=False`), et affiche les cinq premiÃ¨res lignes.ä¸Šé¢çš„ä»£ç åˆ›å»ºäº† `DataFrame` çš„ä¸€ä¸ªå‰¯æœ¬ï¼ŒæŒ‰**é™åº**æ’åºï¼ˆæ³¨æ„ `ascending=False`ï¼‰ï¼Œå¹¶æ˜¾ç¤ºå‰äº”è¡Œã€‚

## ğŸ¥Š DÃ©fi 4
## ğŸ¥Š æŒ‘æˆ˜ 4
Utilisons le tri pour rÃ©pondre Ã  une question pratique :  
è®©æˆ‘ä»¬åˆ©ç”¨æ’åºæ¥å›ç­”ä¸€ä¸ªå®é™…é—®é¢˜ï¼š\n
<span style="color:purple">Quel pays a le taux de chÃ´mage le plus Ã©levÃ© dans nos donnÃ©es ?  
<span style="color:purple">æˆ‘ä»¬çš„æ•°æ®ä¸­å“ªä¸ªå›½å®¶çš„å¤±ä¸šç‡æœ€é«˜ï¼Ÿ
</span>
<details><summary><a>Cliquez pour un indice</a></summary>
<details><summary><a>ç‚¹å‡»æŸ¥çœ‹æç¤º</a></summary>
1. Utilisez <code>.sort_values()</code> pour trier ces donnÃ©es en fonction du taux de chÃ´mage en ordre dÃ©croissant<br>
1. ä½¿ç”¨ <code>.sort_values()</code> æŒ‰å¤±ä¸šç‡é™åºå¯¹è¿™äº›æ•°æ®è¿›è¡Œæ’åº<br>
2. SÃ©lectionnez la premiÃ¨re ligne en utilisant <code>.head()</code> avec un argument pour le nombre de lignes<br>
2. ä½¿ç”¨å¸¦è¡Œæ•°å‚æ•°çš„ <code>.head()</code> é€‰æ‹©ç¬¬ä¸€è¡Œ<br>
</details>

In [ ]:
# VOTRE CODE ICI

<a id='merging'></a>
## Fusion de DataFrames
## åˆå¹¶ DataFrames

Notre DataFrame `unemployment` contient beaucoup d'informations intÃ©ressantes, mais malheureusement il manque les noms complets des pays. Nous avons ces informations dans le DataFrame `countries`, mais nous devons trouver un moyen de les combiner avec `unemployment`.æˆ‘ä»¬çš„ `unemployment` DataFrame åŒ…å«è®¸å¤šæœ‰è¶£çš„ä¿¡æ¯ï¼Œä½†ä¸å¹¸çš„æ˜¯å®ƒç¼ºå°‘å›½å®¶çš„å®Œæ•´åç§°ã€‚æˆ‘ä»¬åœ¨ `countries` DataFrame ä¸­æœ‰è¿™äº›ä¿¡æ¯ï¼Œä½†æˆ‘ä»¬éœ€è¦æ‰¾åˆ°ä¸€ç§æ–¹æ³•å°†å®ƒä»¬ä¸ `unemployment` ç»“åˆèµ·æ¥ã€‚

In [28]:
countries.head()

,country,google_country_code,country_group,name_en,name_fr,name_de,latitude,longitude
0,at,AT,eu,Austria,Autriche,Ã–sterreich,47.696554,13.345980
1,be,BE,eu,Belgium,Belgique,Belgien,50.501045,4.476674
2,bg,BG,eu,Bulgaria,Bulgarie,Bulgarien,42.725674,25.482322
3,hr,HR,non-eu,Croatia,Croatie,Kroatien,44.746643,15.340844
4,cy,CY,eu,Cyprus,Chypre,Zypern,35.129141,33.428682

Parceque les donnÃ©es dont nous avons besoin sont stockÃ©es dans deux fichiers sÃ©parÃ©s, nous voudrons fusionner les donnÃ©es d'une maniÃ¨re ou d'une autre. DÃ©terminons quelle colonne nous pouvons utiliser pour joindre ces donnÃ©es en jetant un Å“il Ã  `unemployment`å› ä¸ºæˆ‘ä»¬éœ€è¦çš„æ•°æ®å­˜å‚¨åœ¨ä¸¤ä¸ªå•ç‹¬çš„æ–‡ä»¶ä¸­ï¼Œæ‰€ä»¥æˆ‘ä»¬è¦ä»¥æŸç§æ–¹å¼åˆå¹¶æ•°æ®ã€‚è®©æˆ‘ä»¬é€šè¿‡æŸ¥çœ‹ `unemployment` ç¡®å®šæˆ‘ä»¬å¯ä»¥ä½¿ç”¨å“ªä¸€åˆ—æ¥è¿æ¥è¿™äº›æ•°æ®ã€‚

In [29]:
unemployment.head()

,country,seasonality,year_month,unemployment,unemployment_rate,date,year,month
0,at,sa,1993.01,144000,3.8,1993-01-01,1993,1
1,at,sa,1993.02,145000,3.8,1993-02-01,1993,2
2,at,sa,1993.03,147000,3.9,1993-03-01,1993,3
3,at,sa,1993.04,149000,3.9,1993-04-01,1993,4
4,at,sa,1993.05,151000,4.0,1993-05-01,1993,5

Ces deux DataFrames semblent avoir une colonne `country` similaire, avec des codes Ã  deux caractÃ¨res pour chaque pays. Essayons de faire une fusion de ces deux ensembles de donnÃ©es basÃ©e sur la colonne `country`.

`pandas` inclut une fonction de fusion facile Ã  utiliser qui accepte deux DataFrames et une colonne sur laquelle les fusionner :`pandas` åŒ…å«ä¸€ä¸ªæ˜“äºä½¿ç”¨çš„åˆå¹¶å‡½æ•°ï¼Œå®ƒæ¥å—ä¸¤ä¸ª DataFrame ä»¥åŠè¦åˆå¹¶çš„åˆ—ï¼š

In [30]:
unemployment_merged = pd.merge(unemployment, countries, on='country')

In [ ]:
unemployment_merged.head()

<a id='grouping'></a>
## Regroupement et agrÃ©gation des donnÃ©es
## æ•°æ®çš„åˆ†ç»„å’Œèšåˆ

Et si nous voulions savoir combien d'observations existent pour chaque pays ? Pour ce faire, nous devons regrouper les pays, puis compter combien de fois chacun apparaÃ®t. En d'autres termes, nous allons **regrouper** nos donnÃ©es **par** une colonne spÃ©cifique, et calculer une quantitÃ© dans chaque groupe. L'opÃ©ration "group-by" est une technique fondamentale utilisÃ©e avec les donnÃ©es tabulaires.  
å¦‚æœæˆ‘ä»¬æƒ³çŸ¥é“æ¯ä¸ªå›½å®¶æœ‰å¤šå°‘è§‚æµ‹å€¼æ€ä¹ˆåŠï¼Ÿä¸ºæ­¤ï¼Œæˆ‘ä»¬éœ€è¦å¯¹å›½å®¶è¿›è¡Œåˆ†ç»„ï¼Œç„¶åè®¡ç®—æ¯ä¸ªå›½å®¶å‡ºç°çš„æ¬¡æ•°ã€‚æ¢å¥è¯è¯´ï¼Œæˆ‘ä»¬å°†æ ¹æ®ç‰¹å®šåˆ—**åˆ†ç»„**æˆ‘ä»¬çš„æ•°æ®ï¼Œå¹¶åœ¨æ¯ä¸ªç»„ä¸­è®¡ç®—ä¸€ä¸ªæ•°é‡ã€‚ "group-by" æ“ä½œæ˜¯å¤„ç†è¡¨æ ¼æ•°æ®çš„ä¸€é¡¹åŸºæœ¬æŠ€æœ¯ã€‚\n

(Pour ceux qui ont utilisÃ© un logiciel de tableur comme Excel, vous pourriez reconnaÃ®tre que nous parlons essentiellement de crÃ©er un "Tableau croisÃ© dynamique")
ï¼ˆå¯¹äºé‚£äº›ä½¿ç”¨è¿‡ Excel ç­‰ç”µå­è¡¨æ ¼è½¯ä»¶çš„äººæ¥è¯´ï¼Œæ‚¨å¯èƒ½ä¼šæ„è¯†åˆ°æˆ‘ä»¬åŸºæœ¬ä¸Šæ˜¯åœ¨è®¨è®ºåˆ›å»ºä¸€ä¸ªâ€œé€è§†è¡¨â€ï¼‰\n
## Regroupement simple avec `.value_counts()`
## ä½¿ç”¨ `.value_counts()` è¿›è¡Œç®€å•åˆ†ç»„
Pour les opÃ©rations de regroupement simples, nous pouvons utiliser la mÃ©thode `.value_counts()`. Nous exÃ©cutons gÃ©nÃ©ralement cela sur une seule colonne, et elle retournera un tableau montrant combien d'observations il y a pour chaque valeur unique dans la colonne.å¯¹äºç®€å•çš„åˆ†ç»„æ“ä½œï¼Œæˆ‘ä»¬å¯ä»¥ä½¿ç”¨ `.value_counts()` æ–¹æ³•ã€‚æˆ‘ä»¬é€šå¸¸åœ¨ä¸€ä¸ªå•ç‹¬çš„åˆ—ä¸Šè¿è¡Œå®ƒï¼Œå®ƒå°†è¿”å›ä¸€ä¸ªè¡¨ï¼Œæ˜¾ç¤ºåˆ—ä¸­æ¯ä¸ªå”¯ä¸€å€¼çš„è§‚æµ‹æ•°é‡ã€‚

In [ ]:
unemployment_merged['name_en'].value_counts()

Cela nous dit que nous avons beaucoup d'observations de donnÃ©es pour l'Italie, la France, la SuÃ¨de, etc. et trÃ¨s peu d'observations pour la Turquie et l'Estonie.è¿™å‘Šè¯‰æˆ‘ä»¬ï¼Œæˆ‘ä»¬æœ‰å¤§é‡å…³äºæ„å¤§åˆ©ã€æ³•å›½ã€ç‘å…¸ç­‰çš„æ•°æ®è§‚æµ‹ï¼Œè€Œå…³äºåœŸè€³å…¶å’Œçˆ±æ²™å°¼äºšçš„è§‚æµ‹å¾ˆå°‘ã€‚

## ğŸ¥Š DÃ©fi 5
## ğŸ¥Š æŒ‘æˆ˜ 5
Essayez d'utiliser `.value_counts()` sur le DataFrame pour dÃ©couvrir combien d'observations proviennent d'enregistrements de l'UE par rapport Ã  ceux hors UEå°è¯•åœ¨ DataFrame ä¸Šä½¿ç”¨ `.value_counts()` æ¥æ‰¾å‡ºæœ‰å¤šå°‘è§‚æµ‹å€¼æ¥è‡ªæ¬§ç›Ÿè®°å½•ï¼Œæœ‰å¤šå°‘æ¥è‡ªéæ¬§ç›Ÿè®°å½•

In [ ]:
### VOTRE CODE ICI

## Regroupement complexe avec `.groupby()`
## ä½¿ç”¨ `.groupby()` è¿›è¡Œå¤æ‚åˆ†ç»„
Et si nous voulons faire quelque chose de plus complexe, comme dÃ©couvrir **quel Ã©tait le taux de chÃ´mage moyen pour les pays de l'UE et hors UE ?**. `.value_counts()` regroupe les donnÃ©es puis les compte, mais nous avons besoin d'une mÃ©thode qui peut regrouper les donnÃ©es puis les moyenner.
å¦‚æœæˆ‘ä»¬è¦â€‹â€‹åšä¸€äº›æ›´å¤æ‚çš„äº‹æƒ…ï¼Œæ¯”å¦‚æ‰¾å‡º**æ¬§ç›Ÿå’Œéæ¬§ç›Ÿå›½å®¶çš„å¹³å‡å¤±ä¸šç‡æ˜¯å¤šå°‘ï¼Ÿ**ã€‚`.value_counts()` å¯¹æ•°æ®è¿›è¡Œåˆ†ç»„å¹¶è®¡æ•°ï¼Œä½†æˆ‘ä»¬éœ€è¦ä¸€ç§æ–¹æ³•å¯ä»¥å¯¹æ•°æ®è¿›è¡Œåˆ†ç»„ç„¶åæ±‚å¹³å‡å€¼ã€‚\n
Ce type de question est un cas d'utilisation typique pour `.groupby()` -- qui nous permet de regrouper les donnÃ©es puis d'appliquer n'importe quelle fonction **d'agrÃ©gation** que nous voulons -- compter, moyenner, min, max, mÃ©diane, etc.è¿™ç±»é—®é¢˜æ˜¯ `.groupby()` çš„å…¸å‹ç”¨ä¾‹â€”â€”å®ƒå…è®¸æˆ‘ä»¬å¯¹æ•°æ®è¿›è¡Œåˆ†ç»„ï¼Œç„¶ååº”ç”¨ä»»ä½•æˆ‘ä»¬æƒ³è¦çš„**èšåˆ**å‡½æ•°â€”â€”è®¡æ•°ã€å¹³å‡ã€æœ€å°ã€æœ€å¤§ã€ä¸­ä½æ•°ç­‰ã€‚

Dans notre exemple, nous voulons dÃ©couvrir le taux de chÃ´mage moyen pour les pays de l'UE et hors UE, donc nous allons regrouper nos donnÃ©es en fonction de `country_group`.åœ¨æˆ‘ä»¬çš„ä¾‹å­ä¸­ï¼Œæˆ‘ä»¬è¦æ‰¾å‡ºæ¬§ç›Ÿå’Œéæ¬§ç›Ÿå›½å®¶çš„å¹³å‡å¤±ä¸šç‡ï¼Œæ‰€ä»¥æˆ‘ä»¬å°†æ ¹æ® `country_group` å¯¹æˆ‘ä»¬çš„æ•°æ®è¿›è¡Œåˆ†ç»„ã€‚

Nous commenÃ§ons avec la mÃ©thode `.groupby()`. Cela ne retourne pas rÃ©ellement de donnÃ©es ou de sortie -- elle regroupe juste les donnÃ©es.  æˆ‘ä»¬ä» `.groupby()` æ–¹æ³•å¼€å§‹ã€‚è¿™å®é™…ä¸Šä¸è¿”å›æ•°æ®æˆ–è¾“å‡ºâ€”â€”å®ƒåªæ˜¯å¯¹æ•°æ®è¿›è¡Œåˆ†ç»„ã€‚

In [34]:
unemployment_merged.groupby('country_group')

Nous devons maintenant sÃ©lectionner une colonne de donnÃ©es et spÃ©cifier une fonction d'agrÃ©gation.æˆ‘ä»¬ç°åœ¨éœ€è¦é€‰æ‹©ä¸€åˆ—æ•°æ®å¹¶æŒ‡å®šä¸€ä¸ªèšåˆå‡½æ•°ã€‚

In [ ]:
unemployment_merged.groupby('country_group')['unemployment_rate'].mean()

En dissÃ©quant le code, nous avons dit Ã  `pandas` :
è§£ææˆ‘ä»¬å‘Šè¯‰ `pandas` çš„ä»£ç ï¼š\n1. <code>unemployment_merged<code><mark style="background: yellow">.groupby('country_group')</mark>['unemployment_rate'].mean()</code>
1. <code>unemployment_merged<code><mark style="background: yellow">.groupby('country_group')</mark>['unemployment_rate'].mean()</code>

    Regrouper toutes nos lignes en fonction des valeurs uniques de la colonne `country_group` -- EU, non-EU
    æ ¹æ® `country_group` åˆ—çš„å”¯ä¸€å€¼ï¼ˆEU, non-EUï¼‰å¯¹æ‰€æœ‰è¡Œè¿›è¡Œåˆ†ç»„\n    
2. <code>unemployment_merged<code>.groupby('country_group')<mark style="background: yellow">['unemployment_rate']</mark>.mean()</code>
2. <code>unemployment_merged<code>.groupby('country_group')<mark style="background: yellow">['unemployment_rate']</mark>.mean()</code>

    SÃ©lectionner la colonne `unemployment_rate`
    é€‰æ‹© `unemployment_rate` åˆ—\n
2. <code>unemployment_merged<code>.groupby('country_group')['unemployment_rate']<mark style="background: yellow">.mean()</mark></code>
2. <code>unemployment_merged<code>.groupby('country_group')['unemployment_rate']<mark style="background: yellow">.mean()</mark></code>

   Calculer la moyenne de la colonne sÃ©lectionnÃ©e (`unemployment_rate`) pour chaque groupe   è®¡ç®—æ¯ä¸ªç»„ä¸­æ‰€é€‰åˆ— (`unemployment_rate`) çš„å¹³å‡å€¼

Nous pouvons confirmer ce comportement en utilisant Ã©galement l'indexation boolÃ©enne. Si nous indexons uniquement les enregistrements des pays de l'UE, sÃ©lectionnons la colonne `unemployment_rate`, puis calculons la moyenne, nous devrions obtenir 8,3, la mÃªme valeur calculÃ©e avec groupby :æˆ‘ä»¬ä¹Ÿå¯ä»¥ä½¿ç”¨å¸ƒå°”ç´¢å¼•æ¥ç¡®è®¤è¿™ç§è¡Œä¸ºã€‚å¦‚æœæˆ‘ä»¬åªç´¢å¼•æ¬§ç›Ÿå›½å®¶çš„è®°å½•ï¼Œé€‰æ‹© `unemployment_rate` åˆ—ï¼Œç„¶åè®¡ç®—å¹³å‡å€¼ï¼Œæˆ‘ä»¬åº”è¯¥å¾—åˆ° 8.3ï¼Œè¿™ä¸ groupby è®¡ç®—çš„å€¼ç›¸åŒï¼š

In [36]:
boolean_index = unemployment_merged['country_group'] == 'eu'

In [ ]:
boolean_index

In [ ]:
unemployment_merged.loc[boolean_index, 'unemployment_rate'].mean()

Les forces de `.groupby()` par rapport Ã  l'utilisation de l'indexation boolÃ©enne sont que `groupby()` passe trÃ¨s bien Ã  l'Ã©chelle pour les scÃ©narios avec de nombreux groupes, et nÃ©cessite beaucoup moins de code.`.groupby()` ç›¸æ¯”ä½¿ç”¨å¸ƒå°”ç´¢å¼•çš„ä¼˜åŠ¿åœ¨äºï¼Œ`groupby()` éå¸¸é€‚åˆå…·æœ‰è®¸å¤šç»„çš„åœºæ™¯ï¼Œå¹¶ä¸”éœ€è¦çš„ä»£ç å°‘å¾—å¤šã€‚

## ğŸ¥Š DÃ©fi 6
## ğŸ¥Š æŒ‘æˆ˜ 6

Utilisez `.groupby()` pour trouver le taux de chÃ´mage maximum pour chaque pays. Triez vos rÃ©sultats du plus grand au plus petit.
ä½¿ç”¨ `.groupby()` æŸ¥æ‰¾æ¯ä¸ªå›½å®¶çš„æœ€å¤§å¤±ä¸šç‡ã€‚å°†ç»“æœä»å¤§åˆ°å°æ’åºã€‚\n
Utilisez l'exemple ci-dessus comme guide.
ä½¿ç”¨ä¸Šé¢çš„ç¤ºä¾‹ä½œä¸ºæŒ‡å—ã€‚\n<details><summary><a>Cliquez pour un indice</a></summary>
<details><summary><a>ç‚¹å‡»æŸ¥çœ‹æç¤º</a></summary>
1. D'abord, utilisez <code>groupby()</code> pour regrouper sur "name_en". <br>
1. é¦–å…ˆï¼Œä½¿ç”¨ <code>groupby()</code> åœ¨ "name_en" ä¸Šåˆ†ç»„ã€‚<br>
2. Ensuite, sÃ©lectionnez la colonne "unemployment_rate",<br>
2. ç„¶åï¼Œé€‰æ‹© "unemployment_rate" åˆ—ï¼Œ<br>
3. AgrÃ©gez en utilisant <code>.max()</code> pour obtenir la valeur maximale.<br>
3. ä½¿ç”¨ <code>.max()</code> èšåˆä»¥è·å¾—æœ€å¤§å€¼ã€‚<br>
4. EnchaÃ®nez la mÃ©thode <code>.sort_values(ascending=False)</code>.
4. é“¾æ¥ <code>.sort_values(ascending=False)</code> æ–¹æ³•ã€‚
</details>

In [ ]:
# VOTRE CODE ICI

<a id='viz'></a>
## Visualisation des donnÃ©es
## æ•°æ®å¯è§†åŒ–
Dans le dernier dÃ©fi, vous avez crÃ©Ã© un tableau intÃ©ressant montrant le taux de chÃ´mage maximum historique que chaque pays a connu. Visualisons ce tableau sous forme de graphique Ã  barres pour faciliter sa prÃ©sentation.
åœ¨ä¸Šä¸€ä¸ªæŒ‘æˆ˜ä¸­ï¼Œæ‚¨åˆ›å»ºäº†ä¸€ä¸ªæœ‰è¶£çš„è¡¨æ ¼ï¼Œæ˜¾ç¤ºäº†æ¯ä¸ªå›½å®¶ç»å†çš„å†å²æœ€é«˜å¤±ä¸šç‡ã€‚è®©æˆ‘ä»¬å°†æ­¤è¡¨æ ¼å¯è§†åŒ–ä¸ºæ¡å½¢å›¾ï¼Œä»¥ä¾¿äºå±•ç¤ºã€‚\n
Il existe diffÃ©rentes faÃ§ons d'aborder la visualisation de donnÃ©es en Python -- nous couvrirons le traÃ§age simple dans `pandas`, qui s'appuie sur les fonctionnalitÃ©s de la bibliothÃ¨que `matplotlib`.
åœ¨ Python ä¸­æœ‰å¤šç§å¯è§†åŒ–æ•°æ®çš„æ–¹æ³•â€”â€”æˆ‘ä»¬å°†ä»‹ç» `pandas` ä¸­çš„ç®€å•ç»˜å›¾ï¼Œå®ƒåŸºäº `matplotlib` åº“çš„åŠŸèƒ½ã€‚\n
D'abord, nous allons dÃ©finir une variable, `grouped`, avec le tableau que vous venez de crÃ©er :é¦–å…ˆï¼Œæˆ‘ä»¬å°†å®šä¹‰ä¸€ä¸ªå˜é‡ `grouped`ï¼Œå…¶ä¸­åŒ…å«æ‚¨åˆšåˆšåˆ›å»ºçš„è¡¨ï¼š

In [ ]:
grouped = unemployment_merged.groupby('name_en')['unemployment_rate'].max().sort_values(ascending=False)
grouped

Maintenant nous pouvons le tracer. Dans `pandas`, la visualisation est aussi simple que d'appeler la mÃ©thode `.plot()`, puis de fournir des arguments optionnels (ici j'ai fourni `kind="barh"` pour crÃ©er un graphique Ã  barres horizontales plutÃ´t que le graphique linÃ©aire par dÃ©faut). Ce qui suit est le taux de chÃ´mage maximum dans les pays des donnÃ©es pour chaque annÃ©e :ç°åœ¨æˆ‘ä»¬å¯ä»¥ç»˜åˆ¶å®ƒäº†ã€‚åœ¨ `pandas` ä¸­ï¼Œå¯è§†åŒ–å°±åƒè°ƒç”¨ `.plot()` æ–¹æ³•ä¸€æ ·ç®€å•ï¼Œç„¶åæä¾›å¯é€‰å‚æ•°ï¼ˆåœ¨è¿™é‡Œæˆ‘æä¾›äº† `kind="barh"` æ¥åˆ›å»ºæ°´å¹³æ¡å½¢å›¾ï¼Œè€Œä¸æ˜¯é»˜è®¤çš„æŠ˜çº¿å›¾ï¼‰ã€‚ä»¥ä¸‹æ˜¯æ•°æ®ä¸­æ¯ä¸ªå›½å®¶æ¯å¹´çš„æœ€å¤§å¤±ä¸šç‡ï¼š

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

grouped.plot(kind='barh')

# Nous ajoutons plt.show() pour afficher correctement le graphique
# æˆ‘ä»¬æ·»åŠ  plt.show() ä»¥æ­£ç¡®æ˜¾ç¤ºå›¾è¡¨
plt.show()

Essayons un autre graphique. Notre DataFrame complet est ce qu'on appelle une sÃ©rie temporelle -- nous avons des observations rÃ©pÃ©tÃ©es des taux de chÃ´mage de divers pays au fil du temps. Nous traÃ§ons gÃ©nÃ©ralement les sÃ©ries temporelles en utilisant des graphiques linÃ©aires, alors crÃ©ons un graphique linÃ©aire examinant les taux de chÃ´mage de l'Espagne et du Portugal.  
è®©æˆ‘ä»¬å°è¯•å¦ä¸€ä¸ªå›¾è¡¨ã€‚æˆ‘ä»¬å®Œæ•´çš„ DataFrame æ˜¯æ‰€è°“çš„â€œæ—¶é—´åºåˆ—â€â€”â€”æˆ‘ä»¬å¯¹å„å›½éšæ—¶é—´å˜åŒ–çš„å¤±ä¸šç‡è¿›è¡Œäº†é‡å¤è§‚æµ‹ã€‚æˆ‘ä»¬é€šå¸¸ä½¿ç”¨æŠ˜çº¿å›¾ç»˜åˆ¶æ—¶é—´åºåˆ—ï¼Œæ‰€ä»¥è®©æˆ‘ä»¬åˆ›å»ºä¸€ä¸ªæŠ˜çº¿å›¾æ¥æ£€æŸ¥è¥¿ç­ç‰™å’Œè‘¡è„ç‰™çš„å¤±ä¸šç‡ã€‚\n
Pour simplifier ce type de graphique, nous commencerons par faire de notre colonne de date l'index du DataFrame :ä¸ºäº†ç®€åŒ–è¿™ç§ç±»å‹çš„å›¾è¡¨ï¼Œæˆ‘ä»¬å°†é¦–å…ˆå°†æ—¥æœŸåˆ—ä½œä¸º DataFrame çš„ç´¢å¼•ï¼š

In [ ]:
unemployment_merged = unemployment_merged.set_index('date')

In [ ]:
unemployment_merged.head()

Nous utiliserons Ã©galement l'indexation boolÃ©enne pour sÃ©lectionner les observations concernant l'Espagne. Nous sauvegarderons cela comme un nouveau DataFrame, `spain` :æˆ‘ä»¬è¿˜å°†ä½¿ç”¨å¸ƒå°”ç´¢å¼•æ¥é€‰æ‹©æœ‰å…³è¥¿ç­ç‰™çš„è§‚æµ‹ç»“æœã€‚æˆ‘ä»¬å°†æŠŠå®ƒä¿å­˜ä¸ºä¸€ä¸ªæ–°çš„ DataFrame `spain`ï¼š

In [ ]:
spain = unemployment_merged[unemployment_merged['name_en'] == 'Spain']
spain.head()

Maintenant nous pouvons facilement accÃ©der au taux de chÃ´mage de l'Espagne, avec la date de chaque observation incluse comme index :ç°åœ¨æˆ‘ä»¬å¯ä»¥è½»æ¾è®¿é—®è¥¿ç­ç‰™çš„å¤±ä¸šç‡ï¼Œå…¶ä¸­åŒ…å«æ¯ä¸ªè§‚æµ‹çš„æ—¥æœŸä½œä¸ºç´¢å¼•ï¼š

In [ ]:
spain['unemployment_rate']

RÃ©pÃ©tons la mÃªme indexation boolÃ©enne que nous avons utilisÃ©e pour l'Espagne, mais maintenant pour le Portugal :è®©æˆ‘ä»¬é‡å¤ç”¨äºè¥¿ç­ç‰™çš„ç›¸åŒå¸ƒå°”ç´¢å¼•ï¼Œä½†ç°åœ¨é’ˆå¯¹è‘¡è„ç‰™ï¼š

In [ ]:
portugal = unemployment_merged[unemployment_merged['name_en'] == 'Portugal']

In [ ]:
spain.head()

In [ ]:
portugal.head()

Nous profiterons de la fonction `.plot()`, en appelant simplement `spain['unemployment_rate'].plot()`. Nous n'avons pas besoin de fournir d'argument Ã  `.plot()` puisque nous utilisons le style de graphique par dÃ©faut -- un graphique linÃ©aire. Nous ajoutons cependant quelques autres commandes pour ajouter une Ã©tiquette d'axe y et afficher le graphique.æˆ‘ä»¬å°†åˆ©ç”¨ `.plot()` å‡½æ•°ï¼Œåªéœ€è°ƒç”¨ `spain['unemployment_rate'].plot()`ã€‚æˆ‘ä»¬ä¸éœ€è¦å‘ `.plot()` æä¾›å‚æ•°ï¼Œå› ä¸ºæˆ‘ä»¬ä½¿ç”¨é»˜è®¤çš„å›¾è¡¨æ ·å¼â€”â€”æŠ˜çº¿å›¾ã€‚ä½†æ˜¯ï¼Œæˆ‘ä»¬æ·»åŠ äº†ä¸€äº›å…¶ä»–å‘½ä»¤æ¥æ·»åŠ  y è½´æ ‡ç­¾å¹¶æ˜¾ç¤ºå›¾è¡¨ã€‚

In [ ]:
spain['unemployment_rate']

In [ ]:
spain['unemployment_rate'].plot()

# Nous ajoutons plt.show() pour afficher correctement le graphique
# æˆ‘ä»¬æ·»åŠ  plt.show() ä»¥æ­£ç¡®æ˜¾ç¤ºå›¾è¡¨
plt.show()

La superposition de graphiques impliquera simplement d'appeler plusieurs commandes `.plot()` dans la mÃªme cellule Jupyter. Nous pouvons Ã©galement ajouter un style de base, comme des Ã©tiquettes, une lÃ©gende et un titre.å åŠ å›¾è¡¨åªéœ€è¦åœ¨åŒä¸€ä¸ª Jupyter å•å…ƒæ ¼ä¸­è°ƒç”¨å¤šä¸ª `.plot()` å‘½ä»¤ã€‚æˆ‘ä»¬è¿˜å¯ä»¥æ·»åŠ åŸºæœ¬æ ·å¼ï¼Œå¦‚æ ‡ç­¾ã€å›¾ä¾‹å’Œæ ‡é¢˜ã€‚

In [ ]:
# Commandes de graphique
# å›¾è¡¨å‘½ä»¤
spain['unemployment_rate'].plot()
portugal['unemployment_rate'].plot()

# Style
# æ ·å¼
plt.legend(["Espagne", "Portugal"])
plt.ylabel("Nombre")
plt.title("Taux de chÃ´mage en Espagne et au Portugal")
plt.show()